@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 246 47% 15%;
    --card: 0 0% 100%;
    --card-foreground: 246 47% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 246 47% 15%;
    --primary: 249 53% 22%; /* dark indigo */
    --primary-foreground: 0 0% 100%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 246 47% 15%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;
    --accent: 206 62% 58%; /* Azure */
    --accent-foreground: 0 0% 100%;
    --destructive: 2 63% 45%; /* Red */
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 206 62% 60%;
    --radius: 0rem;
    
    --sidebar-background: 249 53% 22%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 249 53% 22%;
    --sidebar-accent: 249 50% 32%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 249 50% 32%;
    --sidebar-ring: 206 62% 60%;
  }

  .dark {
    --background: 246 47% 11%;
    --foreground: 0 0% 98%;
    --card: 246 47% 11%;
    --card-foreground: 0 0% 98%;
    --popover: 246 47% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 206 62% 58%; /* Azure */
    --primary-foreground: 246 47% 11%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 16%;
    --muted-foreground: 240 4% 65%;
    --accent: 206 62% 58%;
    --accent-foreground: 246 47% 11%;
    --destructive: 2 63% 45%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 206 62% 60%;

    --sidebar-background: 249 53% 22%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 249 53% 22%;
    --sidebar-accent: 249 50% 32%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 249 50% 32%;
    --sidebar-ring: 206 62% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
